---

---

<section class="min-h-max">
  <div class="flex gap-2 items-center">
    <h3 class="inline-block w-max min-w-[180px]">🙋 About Me</h3>
    <div class="divider"></div>
  </div>
  <div class="pt-10 pb-24">
    <p>Xin Chào! 👋 Tôi là Huỳnh Vĩnh Tiến, Software Engineer đến từ Việt Nam.</p>
    <p class="pb-4">
      <a
        href="/"
        rel="no_referrer"
        target="_blank"><strong><u></u></strong></a
      >
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
</section>

